<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">LArch</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

<h1>Compose Test</h1>
<form class="" action="/compose" method="post">

  <form action="/addQuestion" method="POST">
    <label>Question</label>
    <textarea class="form-control" name="question" rows="4" cols="100"></textarea>
  
    <label>Option 1</label>
    <input type="text" class="form-control" name="option1">
  
    <label>Option 2</label>
    <input type="text" class="form-control" name="option2">
  
    <label>Option 3</label>
    <input type="text" class="form-control" name="option3">
  
    <label>Option 4</label>
    <input type="text" class="form-control" name="option4">
  
    <button type="submit">Add Question</button>
  </form>
  

    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<!-- <form class="" action="/compose" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Post</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Publish   </button>
  </form> -->


</div>
<div class="footer-padding"></div>
</div>
</body>
</html>